liquid/dress.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid XML 2015 Designer Edition (Trial) 13.0.14.5873 (http://www.liquid-technologies.com) -->
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="xml">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="documentType" type="xs:string" />
        <xs:element minOccurs="0" name="level" type="xs:string" />
        <xs:element minOccurs="0" name="examSystem" type="xs:string" />
        <xs:element minOccurs="0" name="title" type="xs:string" />
        <xs:element minOccurs="0" name="serialNo" type="xs:unsignedShort" />
        <xs:element minOccurs="0" name="registrationNo" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="rollNo" type="xs:unsignedInt" />
        <xs:element minOccurs="0" name="date" type="xs:date" />
        <xs:element minOccurs="0" name="firstName" type="xs:string" />
        <xs:element minOccurs="0" name="lastName" type="xs:string" />
        <xs:element minOccurs="0" name="institute" type="xs:string" />
        <xs:element minOccurs="0" name="image" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>